<% include header %>
  <body>
    <div class="container">
    <h1 class="title">Studddent.</h1> 
    <p class="desc">Curated list of the best online student discounts.</p>
    <a href="/add"><button type="button" class="btn addDiscount">Submit a Discount</button></a>
     <% if ( messages[0] ) { %>
    <div class="alert alert-success mt-2" role="alert">
      <%= messages[0] %>
    </div>
  <% } %>
    <hr>
    <div class="entries">
        <% posts.forEach(function(post){ %>
          <a href="<%= post.url %>">
          <div class="block"  id="<%= post._id %>">
              <div class="entry">
                  <div class="tnbg">
                  <span class="helper"></span>
                    <img src="<%= post.image %>" alt="<%= post.name %>"/>
                  </div>
                  
                  
                  <div class="middle">
                    <div class="headline"><%= post.name %></div>
                    <div class="url">
                      <script language='javascript'>
                        document.write(regURL('<%= post.url %>'));
                      </script>
                      </div>
                    <div class="feature"><%= post.feature %></div>
                  </div>
                  <div class="features">
                    <ul>
                      <% post.features.forEach(function(feature){ %>
                        <li><%= feature %></li>
                      <% }); %>
                    </ul>
                  </div>
                </div>
                <div class="voting">
                  <div class="up"><a href="javascript:upvote('<%= post._id %>')"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a></div>
                  <div class="count"><%= post.votes.up - post.votes.down %></div>
                  <div class="down"><a href="javascript:downvote('<%= post._id %>')"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a></div>
                </div>
            </div>
            </a>
        <% }); %>
    </div>
    
  </body>
<% include footer %>
